@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

.number__box {
  max-width: 882px;
  margin: 0 auto;
  padding-top: 12px;
}

.number__box .title {
  padding: 0 11px 4px 11px;
}

.number__filter-boxes {
  display: flex;
  gap: 48px;
}

.number__filter,
.number__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.number__filter .number__text::placeholder,
.number__group .number__text::placeholder {
  color: #000;
}

.number__filter .number__text,
.number__group .number__text {
  font-family: "Onest", sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 102px;
  width: 82px;
  height: 102px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #a3a3a3;
  text-transform: uppercase;
}

.button__filter {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 28px 0;
}

.button__filter .chips {
  border: 1px solid #cbcbcb;
  padding: 12px;
  border-radius: 24px;
  transition: all 0.2s linear;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.button__filter .chips:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}

.button__filter .number__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #a3a3a3;
  font-family: "Onest";
  color: #000;
}

.button__filter .number__btn:hover {
  background: #fff;
  border-color: #cbcbcb;
  color: #000;
}

.button__filter .number__btn .line {
  background: #cbcbcb;
  width: 1px;
  height: 22px;
}

.button__filter .chips.dropdown {
  gap: 8px;
}

.button__filter .chips.dropdown .plate {
  width: 36px;
  height: 23px;
  border-radius: 4px;
  padding: 6px 4px;
  border: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers__table .number__tr {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cbcbcb;
}

.numbers__table .number__tr .left__box {
  display: flex;
  align-items: center;
  gap: 28px;
}

.numbers__table .number__tr .number {
  font-size: 52px;
  font-weight: 500;
  line-height: 62.4px;
}

.numbers__table .left__box span {
  letter-spacing: 6px;
}

.numbers__table .number__tr .red__text {
  color: #f60d0d;
}

.numbers__table .number__tr .number__text {
  font-size: 34px;
  font-weight: 500;
  line-height: 40.8px;
  text-transform: uppercase;
}

.numbers__table .region__plate span {
  font-size: 34px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: normal;
}

.numbers__table .region__plate {
  text-align: center;
}

.numbers__table .region__plate .flex__box {
  display: flex;
  align-items: center;
  gap: 4px;
}

.numbers__table .right__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.numbers__table .right__box .number__price {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
}

.extra__text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #a3a3a3;
}

.extra__text li {
  font-family: "Onest", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.95px;
}

.extra__text .dot {
  background: #a3a3a3;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  display: block;
}

.premium__box {
  display: flex;
  align-items: center;
}

.promo__img {
  width: 860px;
  height: 230px;
  margin: 12px auto 0 auto;
}

.promo__img img {
  width: 100%;
  height: 100%;
}

.about__services {
  margin: 48px 0 24px 0;
  padding: 24px 40px;
  border-radius: 48px;
  background: #cbcbcb;
}

.about__services .desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 0 24px 0;
}

.about__services .desc:last-child {
  padding: 0 0 24px 0;
}

.about__services .statistiks__boxes {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about__services .statistiks__box {
  max-width: 410px;
  width: 100%;
}

.about__services .statistiks__box span {
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  color: #f60d0d;
}

/* card page */
.card__page {
  max-width: 860px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 65px 0;
}

.card__page .region__plate-img {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card__page .number__info-box {
  padding: 40px;
  border-radius: 48px;
  background: #f7f7f7;
  margin-top: 24px;
}

.card__page .number__boxes {
  display: flex;
  justify-content: space-between;
}

.card__page .number__info-box .number__text {
  font-size: 34px;
  font-weight: 500;
  line-height: 40.8px;
  text-transform: uppercase;
}

.card__page .info__box-header span {
  letter-spacing: 6px;
}

.card__page .number__info-box .number {
  font-size: 52px;
  font-weight: 500;
  line-height: 62.4px;
  text-transform: uppercase;
}

.card__page .info__box-header {
  display: flex;
  align-items: start;
  gap: 10px;
  border: 1px solid #cbcbcb;
  padding: 4px 12px;
  width: fit-content;
  border-radius: 8px;
  height: 74px;
}

.card__page .region__plate {
  text-align: center;
}

.card__page .region__plate span {
  font-size: 34px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: normal;
}

.card__page .region__plate .flex__box {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card__page .number__price {
  text-align: right;
}

.card__page .number__price .flex__box {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 16px;
  cursor: pointer;
}

.card__page .number__price-text {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.card__page .number__price .flex__box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #05aaff;
}

.card__page .status__table {
  margin-top: 12px;
}

.card__page .status__table .tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #cbcbcb;
}

.card__page .status__table .status__text {
  font-family: "Onest", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.95px;
  color: #a3a3a3;
}

.card__page .status__table p,
.card__page .status__table a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.card__page .number__info-box .btns {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.card__page .number__info-box .btns a {
  padding: 16px 32px;
  border-radius: 8px;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  white-space: nowrap;
}

.user__box span {
  font-family: "Onest", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.95px;
  color: #a3a3a3;
}

.user__box .flex__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.user__box .flex__box .user__status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user__box .user__status h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.user__box .user__status .img__box {
  width: 48px;
  height: 48px;
  background: #d9d9d9;
  border-radius: 50%;
}

.user__box .flex__box span {
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.85px;
  color: #a3a3a3;
}

.card__page .complain__box {
  padding-left: 40px;
}

.card__page .complain__box .complain__box-img {
  margin: 24px 0;
  width: 378px;
  height: 330px;
}

.card__page .complain__box .flex__box {
  display: flex;
  align-items: center;
  gap: 13px;
}

.card__page .complain__box .flex__box span {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

/* personal__area */
.personal__area {
  max-width: 860px;
  margin: 0 auto;
  padding-bottom: 254px;
}

.personal__area .tab {
  padding-top: 8px;
}

.personal__area .modal__btn {
  display: block;
  color: #f60d0d;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  padding-top: 2px;
  cursor: pointer;
}

/* tabs */
.tab__header {
  display: flex;
  gap: 2px;
}

.tab__header .tab__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #a3a3a3;
  padding: 12px;
  border-bottom: 2px solid #cbcbcb;
  cursor: pointer;
}

.tab__header .tab__item.active {
  color: #000;
  border-color: #000;
}

.tab__content {
  display: none;
  margin-top: 24px;
}

.tab__content.show {
  display: block;
}

.personal__area .personal__card {
  padding: 40px;
  border-radius: 48px;
  background: #f7f7f7;
}

.personal__area .personal__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal__area .left__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.personal__area .left__box .user__img {
  width: 48px;
  height: 48px;
  background: #d9d9d9;
  border-radius: 50%;
}

.personal__area .left__box .user__name {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.personal__area .edit__prifile {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  padding: 16px 32px;
  border-radius: 8px;
  background: #fff;
  transition: all .2s linear;
}

.personal__area .edit__prifile:hover {
  background: #E5E5E5;
}

.personal__area .personal__card-body {
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

.personal__area .personal__card-body .box span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #a3a3a3;
  padding-bottom: 4px;
}

.personal__area .box .flex__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.personal__area .box .social__media {
  display: flex;
  gap: 12px;
}
.personal__area .box .social__media a path {
transition: all .2s linear;
}
.personal__area .box .social__media .telegram__icon:hover path {
  fill: #229ED9;
}
.personal__area .box .social__media .vk__icon:hover path {
  fill: #0077FF;
}
.personal__area .box .social__media .whatsapp__icon:hover path {
  fill: #25D366;
}
.personal__area .box a,
.personal__area .box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.personal__area .box span {
  display: block;
}

.personal__area .tab__content table {
  border: none;
}

.personal__area .tab__content tr {
  border-bottom: 1px solid #cbcbcb;
  position: relative;
}

.personal__area .tab__content thead tr::before {
  background: transparent;
}

.personal__area .tab__content tr::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #cbcbcb;
}

.personal__area .tab__content table td {
  border: none;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.personal__area .tab__content thead td:last-child {
  text-align: right;
}

.personal__area .tab__content thead td {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #a3a3a3;
  padding: 0 12px;
}

.personal__area .tab__content .status__box {
  padding: 2px 4px;
  border-radius: 24px;
  font-size: 14px;
  line-height: 16.8px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal__area .tab__content .status__box.blue {
  background: #92d1ff;
}

.personal__area .tab__content .status__box.yellow {
  background: #fff492;
}

.personal__area .tab__content .status__box.green {
  background: #c2ff92;
}

.personal__area .tab__content .icons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.personal__area .tab__content .icons button {
  width: 56px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sell__number */
.sell__number {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 0 152px 0;
}

.sell__number .basic__data h3 {
  font-family: "Onest", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 28.05px;
  margin: 40px 0 24px 0;
}

.sell__number .basic__data span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  display: block;
  color: #a3a3a3;
  margin-bottom: 4px;
}

.sell__number .basic__data .flex__box {
  display: flex;
  align-items: start;
  gap: 24px;
}

.sell__number .basic__data .price__input {
  font-family: "Onest", sans-serif;
  width: 183px;
  height: 40px;
  border-radius: 6px;
  background: #eeeeee;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.sell__number .basic__data .price__input::placeholder {
  color: #a3a3a3;
}

.check__box {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 40px;
}

.check__box label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  cursor: pointer;
  position: relative;
  padding-left: 52px;
}

.check__box input {
  display: none;
}

.check__box input:checked+label::after {
  display: block;
}

.check__box label::before {
  border: 1px solid #cbcbcb;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
  content: "";
}

.check__box label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  width: 16px;
  height: 14px;
  background: url(../assets/icons/check.svg) no-repeat;
  background-size: contain;
  display: none;
}

.sell__number .button__filter {
  gap: 8px;
  margin: 0;
}

.sell__number .tip__box {
  margin: 40px 0;
}

.sell__number .img__box {
  margin-bottom: 40px;
}

.sell__number .set__img-box {
  width: 250px;
  height: 250px;
  border-radius: 6px;
  border: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sell__number .blue__btn {
  padding: 16px 32px;
}

.filter__box {
  display: none;
}

.media__drop .close__btn {
  display: none;
}

.overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}

.overlay.show {
  display: block;
}

/* media query */
@media screen and (max-width: 900px) {
  .number__box {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .number__filter .number__text,
  .number__group .number__text {
    font-size: 40px;
    width: 100%;
    height: 70px;
  }

  .promo__img {
    display: none;
  }

  .about__services {
    border-radius: 24px;
    padding: 12px;
  }

  header .nav__list .nav__link {
    font-size: 16px;
  }

  .blue__btn {
    font-size: 16px;
  }

  .button__filter .filter__btn {
    display: block;
  }

  .filter__box {
    display: flex;
  }

  .media__drop .close__btn {
    display: block;
  }

  .media__drop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    z-index: 10;
    background: #fff;
    justify-content: start;
    transform: translateY(100%);
    transition: all 0.2s linear;
  }

  .media__drop.show {
    transform: translateY(0);
  }

  .button__filter.media__none {
    margin: 0;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 14px;
    padding: 24px;
    justify-content: start;
  }

  .close__btn {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    border-radius: 8px;
    background: #fff;
  }

  .button__filter.media__none .chips.dropdown {
    display: none;
  }

  .card__page {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card__page .number__info-box .btns {
    flex-wrap: wrap;
  }

  .card__page .number__info-box .btns a {
    flex: 1 1 auto;
    text-align: center;
  }

  .table__tab-content {
    overflow-x: scroll;
  }

  .table__tab-content::-webkit-slider-thumb {
    display: none;
  }

  .table__tab-content table {
    width: 900px;
  }

  .personal__area {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sell__number {
    padding-left: 20px;
    padding-right: 20px;
  }

  .number__filter-boxes {
    display: flex !important;
  }
}

@media screen and (max-width: 767px) {

  .personal__area,
  .sell__number {
    padding-left: 12px;
    padding-right: 12px;
  }

  header {
    margin: 40px 0 24px 0;
    padding: 0 24px;
  }

  header .nav__list {
    display: none;
  }

  header .right__box .blue__btn {
    display: none;
  }

  .number__box .title {
    padding: 0;
  }

  .numbers__table .number__tr {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .numbers__table .right__box .number__price {
    text-align: left;
  }

  .footer .footer__top {
    flex-direction: column;
    gap: 24px;
  }

  .footer .footer__top .flex__box {
    flex-wrap: wrap;
  }

  .footer .footer__bottom {
    flex-direction: column;
    gap: 12px;
  }

  .footer .container {
    padding-left: 12px;
  }

  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .premium__box {
    position: absolute;
    top: 90px;
    left: auto;
    right: 0;
  }

  .numbers__table .number__tr {
    position: relative;
  }

  .numbers__table .number__tr .left__box {
    gap: 10px;
  }

  .number__filter-boxes {
    display: none;
  }

  .about__services .title {
    font-size: 20px;
    line-height: 24px;
  }

  .about__services .desc {
    font-size: 16px;
    line-height: 20px;
  }

  .about__services .statistiks__boxes {
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }

  .about__services .statistiks__box span {
    font-size: 32px;
    line-height: 38px;
  }

  .about__services .statistiks__box p {
    font-size: 16px;
  }

  .about__services {
    margin: 36px 0 24px 0;
  }

  .footer .footer__bottom {
    padding-bottom: 24px;
  }

  .number__box {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card__page .number__info-box,
  .personal__area .personal__card {
    border-radius: 24px;
    padding: 20px;
  }

  .card__page .number__boxes,
  .personal__area .personal__card-header {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }

  .personal__area .personal__card-body {
    display: flex;
    flex-wrap: wrap;
  }

  .personal__area {
    padding-bottom: 50px;
  }

  .card__page .number__price {
    text-align: left;
  }

  .card__page .complain__box .complain__box-img {
    width: 100%;
    object-fit: cover;
  }

  .card__page .complain__box {
    padding-left: 0;
  }

  .user__box .flex__box {
    align-items: start;
    gap: 1rem;
    flex-direction: column;
  }

  .card__page .status__table p,
  .card__page .status__table a,
  .card__page .status__table .status__text {
    font-size: 14px;
  }

  .number__filter-boxes {
    gap: 16px;
  }

  .sell__number .number__filter .number__text,
  .sell__number .number__group .number__text {
    font-size: 30px;
    line-height: 40px;
  }

  .sell__number {
    padding-bottom: 50px;
  }

  .number__box .number__filter-boxes {
    display: none !important;
  }

  .offer__modal {
    max-width: 90%;
    width: 100%;
  }
}