@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus {
  outline: none !important;
}
a {
  display: inline-block;
}
a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: #000;
}
.wrapper {
  overflow: hidden;
}
.container {
  max-width: 1392px;
  margin: 0 auto;
}
.blue__btn {
  background: #05aaff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  transition: all 0.2s linear;
}
.blue__btn:hover {
  background: #cbcbcb;
  color: #000;
}
.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
}
.title__desc {
  font-family: "Onest", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.85px;
  color: #a3a3a3;
  margin-top: 4px;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
  }
}
